include *.rst
include LICENSE
include maykin_django_utils/py.typed
recursive-include maykin_django_utils *.html
recursive-include maykin_django_utils *.txt
recursive-include maykin_django_utils *.po
global-exclude __pycache__
global-exclude *.py[co]
